.Tab.block {
  display: grid;
  grid-auto-flow: column;
  font-size: var(--font-sm);
  border-radius: 3px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
}

.Tab-option-icon {
  margin-right: 0.465rem;
  opacity: 0.7;
}

.Tab.block .Tab-option {
  text-align: center;
  padding: 1rem 2rem;
  margin: 0 10px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(2, 2, 41), rgb(44, 2, 2));
  border-radius: 50px;
}

.Tab.block .Tab-option:hover {
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(to right, rgba(11, 11, 182, 0.993), rgb(172, 7, 7));
  opacity: 0.5;
}

.Tab.block .Tab-option.active {
  opacity: 1;
  pointer-events: none;
  background: linear-gradient(to right, #080336, #360322) padding-box, linear-gradient(to right, red, yellow) border-box;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 1);
}

.Tab.block .Tab-option.active .Tab-option-icon {
  opacity: 1;
}

.Tab.inline {
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.Tab.inline::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.Tab.inline .Tab-option {
  cursor: pointer;
  display: inline-block;
  margin-right: 1.5rem;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: linear-gradient(90deg, #080336, #360322) padding-box;
  font-size: var(--font-base);
}

.Tab.inline .Tab-option.active {
  cursor: pointer;
  display: inline-block;
  margin-right: 1.5rem;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: linear-gradient(90deg, #080336, #360322) padding-box, linear-gradient(90deg, red, yellow) border-box;
  font-size: var(--font-base);
}

.Tab.inline .Tab-option:hover {
  opacity: 0.5;
}

.Tab.inline .Tab-option.active {
  opacity: 1;
  pointer-events: none;
}
