.connect-wallet-btn {
  padding: 0.5rem 1.4rem;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: var(--font-sm);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50px;
  background-clip: padding-box;
  background: linear-gradient(90deg, #16182e, #04354e) padding-box;
  border: 1px solid transparent;
  .btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .btn-label {
    font-weight: 400;
    font-size: var(--font-sm);
    margin-left: 0.8rem;
    letter-spacing: 0;
  }
  &:hover {
    background: linear-gradient(90deg, #242b74, #05415f) padding-box, linear-gradient(90deg, rgb(8, 1, 48), rgb(143, 10, 132)) border-box;
  }
  &:active {
    background: var(--dark-blue-active);
  }
}

@media (max-width: 450px) {
  .connect-wallet {
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 350px) {
  .connect-wallet-btn {
    height: 3.6rem;
    .btn-icon {
      display: none;
    }
    .btn-label {
      margin-left: 0px;
    }
  }
}
